
.detail{
    display: flex;
    align-items: center;
    
} 

.detail p{
    margin: 30px;
}


.itemDetailBoxImg{
    height: 30rem;
    padding: 20px;
}

.tituloPosition{
    margin-top: 20px;
}

.pricePosition{
    margin-top: 40px;
}