.botonContador{
    margin-top: 2rem;
}

.tamanioCard{
display: flex;
align-items: center;
width: 18rem;
}

.posicionCards{
    float: left;
    margin: 10px;
    padding: 10px;
    

}

.contadorProductos{
    display: flex;
    justify-content: center;
}

.contadorProductos p{
    font-size: 1rem;
    margin: 10px;
}

.contadorProductos button{
    padding: 10px;
}


.list-products * {
    text-decoration: none;
    color: black;
}