.estilosCards {
    width: 20rem;
    box-shadow: 1px 1px 5px #afafaf47;
    border: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tamanioCard{
display: flex;
align-items: center;
width: 18rem;
}

.posicionCards{
    float: left;
    margin: 10px;
    padding: 10px;
    

}